.grid {
	width:100%;
	padding: 0 32px;
	max-width:1024px;
	margin: 0 auto;
	box-sizing: border-box;
}
.row {
	display: flex;
	flex-flow: row;
}
.row:after, .grid:after{
	clear:both;
	content:"";
	display:table;
}
.column{
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	width:100%;
	float:left;
	box-sizing:border-box;
}
@media only all{
    .column:not(.no-margin){margin-right:2%;}
	.column:last-child{margin-right: 0;}
    .column.one{width:6.5%;}
	.column.one.no-margin:not(:last-child){width:8.5%;}
    .column.two{width: 15%;}
	.column.two.no-margin:not(:last-child){width:17%;}
    .column.three{width: 23.5%;}
	.column.three.no-margin:not(:last-child){width:25.5%}
    .column.four{width: 32%;}
	.column.four.no-margin:not(:last-child){width:34%}
    .column.five{width: 40.5%;}
	.column.five.no-margin:not(:last-child){width:42.5%}
    .column.six{width: 49%;}
	.column.six.no-margin:not(:last-child){width:51%}
    .column.seven{width: 57.5%;}
	.column.seven.no-margin:not(:last-child){width:59.5%}
    .column.eight{width: 66%;}
	.column.eight.no-margin:not(:last-child){width:68%}
    .column.nine{width: 74.5%;}
	.column.nine.no-margin:not(:last-child){width:76.5%}
    .column.ten{width:83%;}
	.column.ten.no-margin:not(:last-child){width:85%}
    .column.eleven{width:91.5%}
	.column.eleven.no-margin:not(:last-child){width:93.5%}
    .column.offset-one{margin-left:8.5%;}
    .column.offset-two{margin-left:17%;}
    .column.offset-three{margin-left:25.5%;} 
    .column.offset-four{margin-left:34%;}
    .column.offset-five{margin-left:42.5%;}
    .column.offset-six{margin-left:51%;}
    .column.offset-seven{margin-left:59.5%;}
    .column.offset-eight{margin-left:68%;}
    .column.offset-nine{margin-left:76.5%;}
    .column.offset-ten{margin-left:85%;}
    .column.offset-eleven{margin-left:93.5%;}
} 
@media (max-width: 640px){
	.row:not(.non-responsive) > .column{ 
		width:100% !important;
		margin-right:0;
		margin-left:0;
	}
	.large-only {
		display:none;
	}
	.row:not(.non-responsive){
		flex-direction: column;
	}
}
@media (min-width: 640px){
	.small-only {
		display:none;
	}
}